html
    head
        title= title
    body
        h1= message
        each val in values
            form(method="POST")
                p= (val.name + " - " + val.id)
                input(name="hid" type="hidden" value=val.id)
                input(name="cname" type="hidden" value=val.name)
                input(name="starts" type="hidden" value=val.starts)
                input(name="ends" type="hidden" value=val.ends)
                input(type="submit", value="Activate")
        else
            p There are no courses to be activated.